<!DOCTYPE html>
<html>
    <head>
        <title>Front-end</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    </head>

    <body>
        <div id="app">
            <div id="d-send">
                <h1>Send</h1>
                <form id="form">
                    <label for="module">Module:</label><input type="text" name="module" /><br />
                    <label for="method">Method:</label><input type="text" name="method" /><br />
                    <label for="args">Arguments:</label><input type="text" name="args" /><br />
                </form>
                <button onclick="send()">Submit</button>
            </div>
            <div id="d-listen">
                <h1>Listen</h1>
                <p id="t-listen"></p>
            </div>
        </div>
        <script>
            function listen() {
                url = '/listen';
                fetch(url)
                    .then(res => res.json())
                    .then(jsonData => {
                        if (JSON.stringify(jsonData) != '[]') {
                            document.getElementById('t-listen').textContent = JSON.stringify(jsonData);
                        }
                    });
            }
            setInterval(listen, 7500);

            function send() {
                let form = new FormData(document.getElementById('form'));
                const url = '/send';

                var request = new Request(url, {
                    method: 'POST',
                    body: JSON.stringify({
                        module: form.get('module'),
                        method: form.get('method'),
                        args: form.get('args').split(',')
                    }),
                    headers: {
                        Accept: 'application/json',
                        'Content-Type': 'application/json'
                    }
                });

                fetch(request)
                    .then(function(res) {
                        // Handle response we get from the API
                        console.log(res);
                    })
                    .catch(function(err) {
                        console.log(err);
                    });
            }
        </script>
    </body>
</html>
